In [25]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [26]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

table = soup.find_all('table')[0]
rows = table.find_all('tr')

row_list = []

for tr in rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    row_list.append(row)
    
    df_bs = pd.DataFrame(row_list[1:len(row_list)-1], columns=row_list[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National )
0,Delhi,6,0
1,Haryana,0,14
2,Kerala,17,0
3,Rajasthan,1,2
4,Telengana,1,0

In [27]:
# date-time information

now  = datetime.now()
df_bs['Date'] = now.strftime("%Y-%m-%d") 
df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Date
0,Delhi,6,0,2020-03-12
1,Haryana,0,14,2020-03-12
2,Kerala,17,0,2020-03-12
3,Rajasthan,1,2,2020-03-12
4,Telengana,1,0,2020-03-12

In [28]:
# latitude and longitude

lat = {'Delhi':28.7041,
       'Haryana':29.0588,
       'Kerala':10.8505,
       'Rajasthan':27.0238,
       'Telengana':18.1124,
       'Uttar Pradesh':26.8467,
       'Union Territory of Ladakh':34.2996,
       'Tamil Nadu':11.1271,
       'Union Territory of Jammu and Kashmir':33.7782,
       'Punjab':31.1471,
       'Karnataka':15.3173,
       'Maharashtra':19.7515}

long = {'Delhi':77.1025,
        'Haryana':76.0856,
        'Kerala':76.2711,
        'Rajasthan':74.2179,
        'Telengana':79.0193,
        'Uttar Pradesh':80.9462,
        'Union Territory of Ladakh':78.2932,
        'Tamil Nadu':78.6569,
        'Union Territory of Jammu and Kashmir':76.5762,
        'Punjab':75.3412,
        'Karnataka':75.7139,
        'Maharashtra':75.7139}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long) 

file_name = now.strftime("%Y_%m_%d")+'.csv'
df_bs.to_csv(file_name, index=False)

df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Date,Latitude,Longitude
0,Delhi,6,0,2020-03-12,28.7041,77.1025
1,Haryana,0,14,2020-03-12,29.0588,76.0856
2,Kerala,17,0,2020-03-12,10.8505,76.2711
3,Rajasthan,1,2,2020-03-12,27.0238,74.2179
4,Telengana,1,0,2020-03-12,18.1124,79.0193

In [30]:
# complete data

files = glob.glob('2020*.csv')
dfs = []

for i in files:
    dfs.append(pd.read_csv(i))
    
complete_data = pd.concat(dfs, ignore_index=True)
complete_data.to_csv('complete.csv', index=False)
complete_data.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Date,Latitude,Longitude
0,Delhi,5,0,2020-03-11,28.7041,77.1025
1,Haryana,0,14,2020-03-11,29.0588,76.0856
2,Kerala,17,0,2020-03-11,10.8505,76.2711
3,Rajasthan,1,2,2020-03-11,27.0238,74.2179
4,Telengana,1,0,2020-03-11,18.1124,79.0193