In [15]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [16]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

table = soup.find_all('table')[0]
rows = table.find_all('tr')

row_list = []

for tr in rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    row_list.append(row)
    
    df_bs = pd.DataFrame(row_list[1:len(row_list)-1], columns=row_list[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,Delhi,6,0,0,0
1,Haryana,0,14,0,0
2,Kerala,17,0,3,0
3,Rajasthan,1,2,0,0
4,Telengana,1,0,0,0

In [17]:
# date-time information

now  = datetime.now()
df_bs['Date'] = now.strftime("%Y-%m-%d") 
df_bs

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,Date
0,Delhi,6,0,0,0,2020-03-13
1,Haryana,0,14,0,0,2020-03-13
2,Kerala,17,0,3,0,2020-03-13
3,Rajasthan,1,2,0,0,2020-03-13
4,Telengana,1,0,0,0,2020-03-13
5,Uttar Pradesh,10,1,0,0,2020-03-13
6,Union Territory of Ladakh,3,0,0,0,2020-03-13
7,Tamil Nadu,1,0,0,0,2020-03-13
8,Union Territory of Jammu and Kashmir,1,0,0,0,2020-03-13
9,Punjab,1,0,0,0,2020-03-13
10,Karnataka,5,0,0,1,2020-03-13
11,Maharashtra,11,0,0,0,2020-03-13
12,Andhra Pradesh,1,0,0,0,2020-03-13

In [18]:
# latitude and longitude

lat = {'Delhi':28.7041,
       'Haryana':29.0588,
       'Kerala':10.8505,
       'Rajasthan':27.0238,
       'Telengana':18.1124,
       'Uttar Pradesh':26.8467,
       'Union Territory of Ladakh':34.2996,
       'Tamil Nadu':11.1271,
       'Union Territory of Jammu and Kashmir':33.7782,
       'Punjab':31.1471,
       'Karnataka':15.3173,
       'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129}

long = {'Delhi':77.1025,
        'Haryana':76.0856,
        'Kerala':76.2711,
        'Rajasthan':74.2179,
        'Telengana':79.0193,
        'Uttar Pradesh':80.9462,
        'Union Territory of Ladakh':78.2932,
        'Tamil Nadu':78.6569,
        'Union Territory of Jammu and Kashmir':76.5762,
        'Punjab':75.3412,
        'Karnataka':75.7139,
        'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long) 

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = r'C:\Users\imdevskp\Desktop\covid_india'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,Date,Latitude,Longitude
0,Delhi,6,0,0,0,2020-03-13,28.7041,77.1025
1,Haryana,0,14,0,0,2020-03-13,29.0588,76.0856
2,Kerala,17,0,3,0,2020-03-13,10.8505,76.2711
3,Rajasthan,1,2,0,0,2020-03-13,27.0238,74.2179
4,Telengana,1,0,0,0,2020-03-13,18.1124,79.0193

In [19]:
# complete data

files = glob.glob(file_loc+'2020*.csv')
dfs = []

for i in files:
    dfs.append(pd.read_csv(i))
    
complete_data = pd.concat(dfs, ignore_index=True)
complete_data.to_csv('complete.csv', index=False)
complete_data.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,Date,Latitude,Longitude
0,Delhi,6,0,0,0,2020-03-13,28.7041,77.1025
1,Haryana,0,14,0,0,2020-03-13,29.0588,76.0856
2,Kerala,17,0,3,0,2020-03-13,10.8505,76.2711
3,Rajasthan,1,2,0,0,2020-03-13,27.0238,74.2179
4,Telengana,1,0,0,0,2020-03-13,18.1124,79.0193